VITE_SUPABASE_URL=https://gmtecqtgnuzlvbyggqzd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtdGVjcXRnbnV6bHZieWdncXpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0ODIxNTIsImV4cCI6MjA4OTA1ODE1Mn0.H5_ozlMGIE4u8nsInkRN6cHiNAIQAxpJNLYYUdX5HoM
VITE_VAPID_PUBLIC_KEY=BOUnwTbleKoKVgQXuhlwUt-WR2Ne_qM7LTrX3ZsUnz7h64GppIb0L6FQGEDQt2l5k6uOxgaL829kPG4WrD2ZBl0
VAPID_PRIVATE_KEY=0K6a1KDOLgRZrOToVq_Z9lGyEJaAyhCM1LgGj4bQBBs
VAPID_SUBJECT=gaboriaud.r@gmail.com