VITE_SUPABASE_URL=https://gmtecqtgnuzlvbyggqzd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdtdGVjcXRnbnV6bHZieWdncXpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0ODIxNTIsImV4cCI6MjA4OTA1ODE1Mn0.H5_ozlMGIE4u8nsInkRN6cHiNAIQAxpJNLYYUdX5HoM
